<input type="text" class="form-control mb-2" placeholder="Search foods or recipes..." [(ngModel)]="query" (input)="onInputChange(query)" />

<div *ngIf="foodResults.length">
  <h6>Foods</h6>
  <ul class="list-group mb-2">
    <li *ngFor="let food of foodResults"
    (click)="itemSelected.emit({ type: 'food', item: food })">
  {{ food.title }}
</li>
  </ul>
</div>
<div *ngIf="recipeResults.length">
  <h6>Recipes</h6>
  <ul class="list-group">
    <li *ngFor="let recipe of recipeResults"
    (click)="itemSelected.emit({ type: 'recipe', item: recipe })">
  {{ recipe.title }}
</li>
  </ul>
</div>

