button.btn-outline-primary.rounded-circle {
    width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    line-height: 1.5;
  }




#calendarModal .calendar-wrap { display: inline-block; }
#calendarModal ngb-datepicker { display: block; }

#calendarModal .modal-dialog { 
  --bs-modal-width: 380px;  
}


@media (max-width: 420px) {
  #calendarModal .modal-dialog {
    --bs-modal-width: calc(100% - 2rem);
  }
}


#calendarModal .modal-body { 
  padding-inline: .75rem; 
}

